.col-md-12
  .container
    h1 Создать приглашение

    .row
      button.btn.btn-primary(type='button' ng-click='ctrl.sendInvite()') Выслать приглашение

    form.form-inline()
      .form-group
        label Код
        input.form-control(type='text' ng-model='ctrl.inviteCode')
      button.btn.btn-primary(type='button' ng-click='ctrl.getInviteByCode()') Получить приглашение по коду
    .row(ng-show='ctrl.showInvite')
      | {{ctrl.invite}}
    .row(ng-show='ctrl.showDisableInviteButton')
      button.btn.btn-primary(type='button' ng-click='ctrl.disableInvite()') Заблокировать
    .row(ng-show='ctrl.showAcceptInviteButton')
      button.btn.btn-primary(type='button' ng-click='ctrl.acceptInvite()') Подтвердить
