.col-md-12
  h1(translate) Invites
  a(ui-sref='agent' translate) Back
  .container
    .row
      span(us-spinner ng-show='ctrl.showSpinner')
      div(ng-if='ctrl.agentInvites && ctrl.agentInvites.length')
        h3(translate) Agent's invites
        table.table.table-responsive.table-hover
          thead
          tbody
            tr(ng-repeat='invite in ctrl.agentInvites track by invite.id')
              td {{invite}}
                span(ng-if="invite.status === 'open'")
                  a(href='' ng-click='ctrl.deleteInvite(invite.id)' translate) Delete invite
                span(ng-if="invite.status === 'accepted'")
                  a(href='' ng-click='ctrl.disableInvite(invite.id)' translate) Disable invite
      div(ng-if='ctrl.acceptedInvites && ctrl.acceptedInvites.length > 0')
        h3(translate) Confirmed
        table.table.table-responsive.table-hover
          thead
          tbody
            tr(ng-repeat='invite in ctrl.acceptedInvites track by invite.id')
              td {{invite}}
                span(ng-if="invite.status === 'open'")
                  a(href='' ng-click='ctrl.deleteInvite(invite.id)' translate) Delete invite
                span(ng-if="invite.status === 'accepted'")
                  a(href='' ng-click='ctrl.disableInvite(invite.id)' translate) Disable invite
      div
        h3(translate) Create invite
        button.btn.btn-primary(type='button' ng-click='ctrl.sendInvite()' translate) Send invite

      div
        h3(translate) Get invite by code
        form.form-inline
          .form-group
            label(translate) Code
            input.form-control(type='text' placeholder="{{'Code'|translate}}" ng-model='ctrl.inviteCode')
          button.btn.btn-primary(type='button' ng-click='ctrl.getInviteByCode()' ng-disabled='!ctrl.inviteCode' translate) Get invite
        .row(ng-show='ctrl.showInvite')
          | {{ctrl.invite}}
        .row(ng-show='ctrl.showDisableInviteButton')
          button.btn.btn-primary(type='button' ng-click='ctrl.disableInvite()' translate) Disable
        .row(ng-show='ctrl.showAcceptInviteButton')
          button.btn.btn-primary(type='button' ng-click='ctrl.acceptInvite()' translate) Accept
