$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.fixed-bottom {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1000;
  height: 60px;
  width: 100%;
  background-color: #f5f5f5;
}

.viewport-root {
  padding-bottom: 60px;
}

// Component styles are injected through grunt
// injector
@import 'account/account.scss';
@import 'agent/agent.scss';
@import 'invite/invite.scss';
@import 'main/main.scss';
@import 'operation/operation.scss';
@import 'signup/signup.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
// endinjector
