div.navbar.navbar-default(ng-controller='NavbarCtrl as ctrl')
  div.container-fluid
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='ctrl.isCollapsed = !ctrl.isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='main') Debtzzz

    div#navbar-main.navbar-collapse.collapse(uib-collapse='ctrl.isCollapsed')
      ul.nav.navbar-nav
        li(ng-repeat='item in ctrl.menu', ng-class='{active: ctrl.isActive(item.link)}')
          a(ng-href='{{item.link}}') {{item.title}}

      ul.nav.navbar-nav.navbar-right(ng-show='ctrl.isLoggedIn()')
        li {{getCurrentUser()}}
          p.navbar-text(translate) Hi,
            span
            | {{ctrl.getCurrentUser().body.phoneNumber || ctrl.getCurrentUser().phoneNumber}}
        li(ng-class="{active: ctrl.isActive('/logout')}")
          a(href='' ng-click='ctrl.logout()' translate) Logout
        li
          a(href='' ng-click="ctrl.changeLanguage('ru')")
            span.flag-icon.flag-icon-ru
        li
          a(href='' ng-click="ctrl.changeLanguage('en')")
            span.flag-icon.flag-icon-us
        li
          span.fa.fa-circle(ng-class="{connected: ctrl.socketConnected, disconnected: !ctrl.socketConnected}")
