.col-md-12
  h1 Агенты пользователя
  .container
    p(ng-if='ctrl.agents && ctrl.agents.length === 0') Нету агентов
    table.table.table-responsive.table-hover(ng-if='ctrl.agents && ctrl.agents.length > 0')
      thead
        th Название агента
        th Счета
        th
      tbody
        tr(ng-repeat='agent in ctrl.agents track by agent.id')
          td
            | {{agent.name}}
          td
            a(href='' ng-click='ctrl.goToAccounts(agent.id)')
              span.glyphicon.glyphicon-usd
          td
            a(href='' ng-click='ctrl.goToInvites(agent.id)')
              span Приглашения
    form.form-horizontal(role='form' name='form' ng-submit='ctrl.save(form)')
      fieldset
        legend
          | Добавить нового агента
        .form-group
          label.control-label(for='name') Название
          input.form-control(id='name' placeholder='Название' ng-required='true' ng-model='ctrl.name')
        button.btn.btn-primary(type='submit' ng-disabled='!form.$valid') Сохранить
        button.btn.btn-default(type='button' ng-click='ctrl.cancel(form)') Отменить
