div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    | Главная


.container
  .row
    .col-lg-12
      h1.page-header Агенты:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6
        li
          a(href='#', tooltip='{{thing.info}}')
            | {{thing.name}}

footer.footer
  .container
    p
      | Долги
