div(ng-include='"../../components/navbar/navbar.html"')

.col-md-12
  h1 Операций
  a(ui-sref='agent') Назад
  .container.pre-scrollable(style='max-height: 650px;')
    .row
      p(ng-if='ctrl.counterAgents.length === 0') У вас нет контактов
      div(ng-if='ctrl.agentOperations && ctrl.agentOperations.length > 0')
        h3 Произведенные операции агента
        table.table.table-responsive.table-hover
          thead
          tbody
            tr(ng-repeat='agentOperation in ctrl.agentOperations track by agentOperation.id')
              td {{agentOperation}}

      //div(ng-if='ctrl.operations && ctrl.operations.length > 0')
      //  h3 Произведенные операции пользователя
      //  table.table.table-responsive.table-hover
      //    thead
      //    tbody
      //      tr(ng-repeat='operation in ctrl.operations track by operation.id')
      //        td {{operation}}

      div(ng-if='ctrl.operations && ctrl.operations.confirmed.length > 0')
        h3 Подтвержденные
        table.table.table-responsive.table-hover
          thead
          tbody
            tr(ng-repeat='confirmed in ctrl.operations.confirmed track by confirmed.id')
              td {{confirmed}}

      //div
      //  h3 Операции подтвержденные агентом
      //  table.table.table-responsive.table-hover
      //    thead
      //    tbody
      //      tr(ng-repeat='agentConfirmed in ctrl.agentOperations.agentConfirmed track by agentConfirmed.id')
      //        td {{agentConfirmed}}

      div(ng-if='ctrl.agentOperations && ctrl.agentOperations.waitingForConfirm.length > 0')
        h3 Операции ждут подтверждения
        table.table.table-responsive.table-hover
          thead
          tbody
            tr(ng-repeat='waitingForConfirm in ctrl.agentOperations.waitingForConfirm track by waitingForConfirm.id')
              td {{waitingForConfirm}}
              td
                a(href='#' ng-click='ctrl.confirmOperation(waitingForConfirm)') Подтвердить

      div(ng-if='ctrl.counterAgents && ctrl.counterAgents.length > 0')
        h3 Контакты
        table.table.table-responsive.table-hover
           thead
           tbody
             tr(ng-repeat='counterAgent in ctrl.counterAgents track by counterAgent.id')
              td {{counterAgent}}
              td
                a(href='#' ng-click='ctrl.createOperation(counterAgent)') Создать операцию
        form(ng-show='ctrl.showOperationCreateForm' ng-submit='ctrl.saveOperation()')
          legend Новая операция
          .form-group
            label Сумма
            input.form-control(type='text' ng-model='ctrl.total')
          .form-group
            label Валюта
            ui-select(ng-model='ctrl.currency')
              ui-select-match
                span(ng-bind='$select.selected.name')
              ui-select-choices(repeat='item in ctrl.currencies')
                span(ng-bind='item.name')
          div.btn-group
            label.btn.btn-primary(ng-model='ctrl.radioModel', uib-btn-radio="'lender'") Одолжить
            label.btn.btn-primary(ng-model='ctrl.radioModel', uib-btn-radio="'debtor'") Взять в долг

          button.btn(type='submit') Сохранить

