../node_modules/grunt-contrib-watch/node_modules/tiny-lr-fork/node_modules/noptify/node_modules/nopt/node_modules
public
.tmp
.sass-cache
.idea
client/bower_components
dist
/old/server/config/local.env.js
npm-debug.log
*.log
*.mo
