.col-md-12
  h1 Счета агента
  a(ui-sref='agent') Назад
  .container
    p(ng-if='ctrl.accounts && ctrl.accounts.length === 0') Нет счетов
    table.table.table-responsive.table-hover(ng-if='ctrl.accounts && ctrl.accounts.length > 0')
      thead
        th Счета разных валют
      tbody
        tr(ng-repeat='account in ctrl.accounts track by account.id')
          td
            a(href='#' ng-click='ctrl.goToOperations(account.id)') {{account}}
