.col-md-12
  h1 Счета агента
  .container
    button.btn.btn-primary.pull-right(type='button' ui-sref='agent' translate) Назад
    p(ng-if='ctrl.accounts && ctrl.accounts.length === 0' translate) Нет счетов
    table.table.table-responsive.table-hover(ng-if='ctrl.accounts && ctrl.accounts.length > 0')
      thead
        th Валюты
      tbody
        tr(ng-repeat='account in ctrl.accounts track by account.id')
          td
            | {{account}}
    form.form-horizontal(role='form' name='form' ng-submit='ctrl.save(form)')
      fieldset
        legend
          | Выбрать валюту счета
        .form-group
          ui-select(ng-model='ctrl.currency')
            ui-select-match
              span(ng-bind='$select.selected.name')
            ui-select-choices(repeat='item in ctrl.currencies')
              span(ng-bind='item.name')

        button.btn.btn-primary(type='submit' ng-disabled='!form.$valid' translate) Сохранить
        button.btn.btn-default(type='button' ng-click='ctrl.cancel(form)' translate) Отменить
