.col-md-12
  h1(translate) Agent's accounts
  a(ui-sref='agent' translate) Back
  .container
    p(ng-if='ctrl.accounts && ctrl.accounts.length === 0' translate) No accounts
    p {{ctrl.debtorOperations}}
    p {{ctrl.lenderOperations}}
    table.table.table-responsive.table-hover(ng-if='ctrl.accounts && ctrl.accounts.length > 0')
      thead
        th(translate) Currencies accounts
      tbody
        tr(ng-repeat='account in ctrl.accounts track by account.id')
          td
            a(href='' ng-click='ctrl.goToOperations(account.id)') {{account}}
