.container
  form.form-horizontal(role='form' name='form' ng-submit='ctrl.submit()')
    .form-group
      label.control-label Токен
      input.form-control(type='text' ng-model='ctrl.token' placeholder='Введите токен')
    button(class='btn btn-primary' type='submit') Залогинится
